/*
BACKGROUND PROPERTY
-background-color //changing color color of our background
-background-size:values = (contain || cover ||  w,h)
-background-attachment: values =(fixed || scroll)
-background-repeat:values = (repeat || no-repeat)
-background-image url([imageLocation])

-background
*/

